<div>
    <div class="content-container">
        <div class="menu-box" data-dojo-attach-point="menuBoxNodes">
            <div class="project-manager">
                <h1>${projectManagement}</h1>
            </div>
            <div class="repository">
                <h1>${repo}</h1>
            </div>
        </div>
        <div class="content-box" data-dojo-attach-point="contentNodes">
            <div class="content">
                <div class="overlay content-page" data-dojo-attach-point="overlayNode" style="display: none">
                    <div data-dojo-attach-point="loadingNode" class="loading content-page"></div>
                </div>
            </div>
        </div>
    </div>
</div>