<div class="header">
    <div data-dojo-attach-point="userControllerNode" class="user-controller">
        <span title="${signOut}" class="icon-off logout medium"></span>
        <span title="${settings}" class="icon-gear settings medium"></span>
        <span title="${userInfo}" class="icon-user user-info medium"></span>
        <span title="${notification}" class="icon-bell-alt notification medium"></span>
    </div>
    <div class="logo-container">
        <span class="icon-github-sign logo"></span>
        <span class="text">${devistan}</span>
    </div>
</div>