<div class="login-container">
    <span class="login-text">${userLogin}</span>
    <p>
        <label for="username"></label>
        <input type="text" class="login-input" id="username" value="${username}" data-dojo-attach-point="loginUsernameNode"/>
    </p>

    <p>
        <label for="password"></label>
        <input type="password" class="login-input" id="password" value="${password}" data-dojo-attach-point="loginPasswordNode"/>
    </p>

    <p>
        <span class="login-button-puller"></span>
        <button class="login-button">${login}</button>
    </p>
</div>