<div class="login-container">
    <div data-dojo-attach-point="loadingNode" class="loading"></div>
    <span class="login-text">${userLogin}</span>
    <p>
        <input type="text" class="login-input" id="username" value="${username}" data-dojo-attach-point="loginUsernameNode"/>
    </p>

    <p>
        <input type="password" class="login-input" id="password" value="${password}" data-dojo-attach-point="loginPasswordNode"/>
    </p>

    <p>
        <span class="login-button-puller"></span>
        <button class="login-button" data-dojo-attach-event="onclick : _login">${login}</button>
    </p>
</div>