<div>
    <div class="menu-container">
        <ul data-dojo-attach-point="menuContainerNode">
            <li data-dojo-attach-event="onclick :_menuItemClick"><a href="#">${repoConfigs}</a></li>
            <li  data-dojo-attach-event="onclick :_menuItemClick" class="selected"><a href="#">${clone}</a></li>
            <li  data-dojo-attach-event="onclick :_menuItemClick"><a href="#">${issues}</a></li>
            <li  data-dojo-attach-event="onclick :_menuItemClick"><a href="#">${userConfigs}</a></li>

        </ul>
    </div>
</div>